<div class="panel panel-default">
<h1>Congrats, You have registered successfully!</h1>
<p>Find us on facebook, <a href="https://www.facebook.com/groups/1867603676801911/">https://www.facebook.com/groups/1867603676801911/ </a></p>
</div>